

.project-case-study {
   display: inline-grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: auto;
   grid-gap: 1rem;
   animation-name: fadeIn;
   animation-delay: 0.1s;
   animation-duration: 2s;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
   opacity: 0;
   width: 100vw;
}

.sticky {
   position: fixed;
   font-family: 'Big Shoulders Inline Text', cursive;
   font-size: 4vw;
   font-weight: 400;
   padding: 0.5rem;
   top: 65%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #ff3e55;
   margin-bottom: 0;
   text-shadow: 0 2px 40px rgba(0,0,0,.6);
   z-index: 3;
   display: block;
   text-align: center;
}

.objective {
   grid-column: 1/2;
   position: fixed;
   bottom: 6rem;
   left: 6rem;
   letter-spacing: 1px;
   font-weight: 100;
   font-size: 1.2vw;
   margin: 0;
   text-shadow: 0 2px 16px rgba(0,0,0,.6);
   color: #fff;
   width: 20vw;
}
.objective-title {
   letter-spacing: 1px;
   font-weight: 100;
   text-shadow: 0 0 1px rgba(255,255,255,0.3);
   font-size: 1.2vw;
   color: #ff3e55;
   text-transform: uppercase;
   margin-top: 0;
}
.project-name {
   grid-column: 2/4;
   font-family: 'Big Shoulders Inline Text', cursive;
   font-size: 4vw;
   font-weight: 400;
   margin-left: 2rem;
   padding: 0.5rem;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #ff3e55;
   margin-bottom: 0;
   text-shadow: 0 2px 40px rgba(0,0,0,.6);
   
}


.back-btn {
    border-radius: 50%;
    grid-column: 4/5;
    outline: none;
    width: 3rem;
    height: 3rem;
    background-color: #ff3e55;
    cursor: pointer;
    transition: 0.5s;
    position: fixed;
    bottom: 8rem;
    right: 6rem;
    margin-top:0;
}

.project-url {
    color: #00BFFF;
}

.back-btn.active {
    background-color:#00BFFF;
}
   
.back-btn:hover,
.back-btn:focus {
    outline: none;
    cursor: pointer;
    background-color: #00BFFF;
}

.project-img {
    position: absolute;
    width: 30vw;
    top: -12rem;
    right: -10rem;
    left: -15rem;
    z-index: 1;
    margin: 5rem auto;   
}

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 14rem;
    margin-top: 35%;
    margin-bottom: 1rem;
    position: relative;
    z-index: 4;
}

.presentation-mobile {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   padding: 14rem;
   margin-top: 5%;
   margin-bottom: 1rem;
   position: relative;
   z-index: 4;
}

.mobile {
   grid-column: 1/2;
   width: 20vw;
   top: -150%;
   right: -10rem;
   left: -10rem;
   margin: 1rem auto;
   border-radius: 15%/7%; 
   box-shadow: 0 2px 200px 0 #000, 0 2px 50px 0 #000;
   pointer-events: none;
}

.tablet {
   grid-column: 2/3;
   border-radius: 7%/7%;
   box-shadow: 0 2px 200px 0 #000, 0 2px 50px 0 #000;
   pointer-events: none;
   margin-top: 2rem;
}

.mobile-inner {
   grid-column: 1/2;
   width: 20vw;
   margin: 1rem auto; 
   border-radius: 15%/7%;
   box-shadow: 0 2px 200px 0 #000, 0 2px 50px 0 #000;
   pointer-events: none;
}


@media screen and (min-width: 1024px) and (max-width: 1366px)  {

   .project-img {
    position: relative;
    width: 50vw;
    z-index: 1;
    top: 10%;  
    left: -10%;
   }
   
   .sticky {
    top: 50%;
    left: 50%;
   }
   
   .objective {
    position: relative;
    font-size: 2.5vw;
    width: 40vw;
    top: 70vh;
    left: 5%;
    margin-left: 2rem;
   }
   
   .objective-title {
    position: relative;
    font-size: 2.5vw;
   }
   
   .presentation {
    display: block;
    position: relative;
   }
   
   .tablet {
    display: block;
    width: 30vw;
    margin: 0 7rem;
    margin-top: 45rem;  
   }
   
   .mobile {
    display: block;
    width: 20vw;
   }
   
   .presentation-mobile {
     display: block;
     position: relative;
   }
   
   .mobile-inner {
    display: block;
    width: 20vw;
    margin-left: 12rem;
   }
   
   .mobile-more {
    display: block;
    width: 20vw;
    margin-left: 8rem;
   }

   .back-btn {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 70vh;
    left: -2vw;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
   }
    
}
       
@media screen and (min-width: 721px) and (max-width: 1023px) {

   .project-img {
    position: relative;
    width: 50vw;
    z-index: 1;
    top: 10%;  
    left: -10%;
   }
     
   .sticky {
    top: 50%;
    left: 50%;
   }
     
   .objective {
    position: relative;
    font-size: 2.5vw;
    width: 40vw;
    top: 70vh;
    left: 5%;
    margin-left: 2rem;
   }
     
   .objective-title {
    position: relative;
    font-size: 2.5vw;
   }
     
   .presentation {
    display: block;
    position: relative;
   }
     
   .tablet {
    display: block;
    width: 30vw;
    margin: 0 7rem;
    margin-top: 45rem;  
   }
     
   .mobile {
    display: block;
    width: 20vw;
   }
     
   .presentation-mobile {
    display: block;
    position: relative;
   }
     
   .mobile-inner {
    display: block;
    width: 20vw;
    margin-left: 12rem;
   }
     
   .mobile-more {
    display: block;
    width: 20vw;
    margin-left: 8rem;
   }
  
   .back-btn {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 70vh;
    left: -2vw;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
   }
      
}
   
       
    
@media all and (min-width: 280px) and (max-width: 720px)  {

.project-img {
   position: relative;
   width: 50vw;
   z-index: 1;
   top: 3vh;  
   left: -7vw;
}
.sticky {
   position: relative;
   top: 40vh;
   left: 50vw;
   width: 100%;
   position: relative;
}

.objective {
   display: block;
   position: relative;
   top: 60vh;
   left: 2rem;
   width: 40vw;
   text-align: left;
   justify-content: left;
   font-size: 2.2vw;
 }


 .objective-title {
   position: relative;
   font-size: 2.2vw;
 }

 .back-btn {
   display: block;
   position: relative;
   margin: 5rem auto;
   align-items: center;
   justify-content: center;
   top: 50vh;
   right: 2rem;
   width: 2rem;
   height: 2rem;
 }

 .presentation {
   display: block;
   position: relative;
   z-index: 4;
   padding: 0;
   margin-top: 30rem;
}

 .tablet {
  display: block;
  width: 80vw;
  top: 80%;
  left: -80%;
}

 .mobile {
  display: block;
  width: 80vw;
  top: 80%;
  left: -80%;
 }

 .presentation-mobile {
    display: block;
    padding: 0;
    position: relative;
    margin-top: 15rem;
 }

 .mobile-inner {
   display: block;
   width: 80vw;
   top: 80%;
   left: -100%;
 }

 .mobile-more {
   display: block;
   width: 80vw;
   top: 80%;
   left: -100%;
 }
}

