.message {
  position: relative;
  display: block;
  color: #ff3e55;
  font-size: 1vw;
  background: transparent;
}

@media only screen and (max-width: 765px) {
  .message {
    font-size: 2vw;
  }
}
