*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.navbar {
  background: #021d44;
  width: 100vw;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-menu {
  position: absolute;
  top: 0;
  right: 4rem;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  align-items: flex-end;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.menu-icon {
  display: none;
}

.navbar .navli {
  position: relative;
  display: inline-block;
  margin: 1rem 1.5rem;
  padding: 0 1rem;
  outline: none;
  color: #f9fafa;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

.navbar .navli:hover,
.navbar .navli:focus {
  outline: none;
  cursor: pointer;
}

.navbar .navli::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff3e55;
  content: "";
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;
}

.navbar .navli::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #ff3e55;
  content: "";
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.navbar .navli:hover::before {
  top: 100%;
  opacity: 1;
}

.navbar .navli:hover::after {
  height: 100%;
}

.navbar .active {
  color: #ff3e55;
  transition: #ff3e55 15s;
  -webkit-transition: #ff3e55 15s;
  -moz-transition: #ff3e55 15s;
}
.navbar .active::before {
  top: 100%;
  opacity: 1;
}

.navbar .active::after {
  height: 100%;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 30rem;
}

/* SOCIAL MEDIA */
.social-container {
  background: #021d44;
  position: relative;
  display: inline-block;
  padding: 0;
  outline: none;
  color: #f9fafa;
  text-decoration: none;
  line-height: 1.5rem;
}

button.social {
  position: relative;
  justify-content: space-between;
  top: -1rem;
  margin-left: 1rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 1.6vw;
}

button.social:hover {
  transform: translateY(-2px);
  color: #888;
  transition: color 0.5s;
}

.menu-icon {
  color: #fff;
  font-size: 2rem;
  margin-right: 2rem;
}

.icon {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  line-height: 1;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .nav-menu {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 85px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #021d44;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 100;
    height: 100vh;
  }

  .navli .logo {
    text-align: center;
    margin-right: 2rem;
    width: 100%;
    display: table;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .navbar .navli::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 2px;
    background: #ff3e55;
    content: "";
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
  }

  .icon {
    bottom: 0;
    right: 1rem;
    padding: 0.9rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
  button.social {
    font-size: 2.6vw;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 85px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar {
    width: 100vw;
  }

  .nav-menu.active {
    background: #021d44;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 100;
  }

  .container {
    min-height: 100vh;
  }

  .navli {
    text-align: center;
    margin-right: 2rem;
    width: 100%;
    display: table;
  }

  .logo {
    margin-left: -5rem;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: -1rem;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .navbar .navli::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 2px;
    background: #ff3e55;
    content: "";
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
  }

  .icon {
    bottom: 0;
    right: 1rem;
    padding: 0.9rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  button.social {
    font-size: 4.6vw;
  }
}
