*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Special+Elite&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap');

@media (hover: hover) {

.project {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
    width: 60vw;
    height: 10vw;
    background-color: transparent;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    margin: 2rem  0.5rem;
    z-index: -1;
  
}

a {
    text-decoration: none;
}

.project-preview {
    position: relative;
    text-align: center;
}

.project-title {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 4vw;
    font-weight: 400;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    margin-left: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff3e55;
    width: 100%;
}
 
.project-cover {
    position: absolute;
    top: 50%;
    right: -4rem;
    left: -4rem;
    z-index: -100;
    margin: 0 auto;
    -ms-transform: translateY(-47.5%);
    transform: translateY(-47.5%);
    transition: .3s ease;
    pointer-events: none;
    display: none;
}


.project-category  {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2vw;
    opacity: 0;
    transform: translateX(-4px) rotateX(-12deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    transition: .3s cubic-bezier(.23,1,.32,1); 
    margin-top: 3rem;
    margin-left: 0.5rem;
    color: #ff3e55;
}  

.project-year {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    font-size: 2vw;
    opacity: 0;
    transform: translateX(-4px) rotateX(-12deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    transition: .3s cubic-bezier(.23,1,.32,1);
    margin-top: 3rem;
    margin-right: 0.5rem;
    color: #ff3e55;;
}  


.project:hover .project-category  {
    opacity: 1;
}
.project:hover .project-year  {
    opacity: 1;
}
.project:hover .project-cover  {
    display: block;
    width: 20vw;
    max-height: 65vw;
    max-width: 65vw;
    max-height: 65vmin;
    max-width: 65vmin;
    opacity: 1;
}
.project-title:hover {
    font-family: 'Big Shoulders Inline Text', cursive;
 }
}


  @media(hover:none){

    .project {
        display: inline-grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 4rem;
        grid-column-gap: 4rem;
        width: 60vw;
        height: 10vw;
        background-color: transparent;
        border: 0.1rem solid #fff;
        border-radius: 0.5rem;
        margin: 0.5rem  0.5rem;
        z-index: -1;
      
    }
    
    a {
        text-decoration: none;
    }
    
    .project-preview {
        position: relative;
        text-align: center;
    }
    
    .project-title {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 4;
        font-size: 4vw;
        font-weight: 400;
        font-family: 'Staatliches', cursive;
        font-weight: bold;
        margin-left: 2rem;
        padding: 0.5rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 260%;
        transform: translate(-50%, -50%);
        color: #ff3e55;
    }
     
    .project-cover {
        display: none;
    }
    
    
    .project-category  {
        display: none;
    }  
    
    .project-year {
        display: none;
    }  
    
 }

 