*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Special+Elite&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap');

.project {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
    width: 60vw;
    height: auto;
    background-color:#ff3e55;
    border-radius: 0.5rem;
    margin: 0.5rem  0.5rem;
  
}

a {
    text-decoration: none;
}

.project-title {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 4vw;
    font-weight: 400;
    font-family: 'Staatliches', cursive;
    transition: opacity 3s cubic-bezier(.165,.84,.44,1);
    font-weight: bold;
    margin-left: 7rem;
    padding: 0.5rem;
    text-align: center;
}


.project-title:hover {
   font-family: 'Big Shoulders Inline Text', cursive;
}

.project-cover {
    display: block;
    width: 100%;
    opacity: 0;
    border-radius: 50%;
    transition: cubic-bezier(.39,.575,.565,1);
}

.project-category  {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2vw;
    opacity: 0;
    transform: translateX(-4px) rotateX(-12deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    transition: .3s cubic-bezier(.23,1,.32,1); 
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: #021D44;
}  

.project-year {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    font-size: 2vw;
    opacity: 0;
    transform: translateX(-4px) rotateX(-12deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    transition: .3s cubic-bezier(.23,1,.32,1);
    margin-top: 1rem;
    margin-right: 0.5rem;
    color: #021D44;
}  


.project:hover .project-category  {
    opacity: 1;
}
.project:hover .project-year  {
    opacity: 1;
}
.project:hover .project-cover  {
    position: relative;
    z-index: 2;
    max-height: 65vw;
    max-width: 65vw;
    max-height: 65vmin;
    max-width: 65vmin;
    opacity: 1;
}