body {
    height: 100%;
    margin: 0;
    font-size: 1.2em;
    background-color: #021D44;
}

.background-section {
    position: absolute;
    top: 170px;
    left: -1rem;
    z-index: -1;
    display: flex;
    height: auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    
}
 .aside, .article {
    padding: 10px;
    color: #fff;
  }
  
  
 .grid-wrapper {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content auto min-content;
   
  }
  
  .aside {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: transparent;
    padding: -10rem;
    margin: 5rem 2rem;
  }
  
  
  .article {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: transparent;
    padding: 1rem;
    margin: 2rem 2rem;
  }
  
  .flex-wrapper  {
    display: flex; 
  }
  
  .canvas-drawing {
    display: inline-block;
    height: 20vw;
    width: 20vw;
    border-radius: 10%;
    border: 1px solid #fff;
    background-color: transparent;
    flex-grow: 1;
    margin: 2rem 2rem;
    box-shadow: 0 4px 10px rgba(60,64,67,.28);
    cursor: pointer;
    }

    .canvas-fingerprint {
     display: inline-block;
     height: 20vw;
     width: 20vw;
     border-radius: 10%;
     border: 1px solid #fff;
     background-color: transparent;
     flex-grow: 1;
     margin: 2rem 2rem;
     box-shadow: 0 4px 10px rgba(60,64,67,.28);
     cursor: pointer;
    }

  
  h3 {
    font-weight: 100;
    text-align: center;
    
  }
  .me {
    align-items: center;
    border-radius: 50%;
    margin-bottom: 0.8rem;
    width: 100%;
  }
  
   @media only screen and (max-width: 850px) {
  
     .grid-wrapper {
       display: flex;
       flex-direction: column;
     } 
     
     
     .canvas {
       width: 80vw;
       height: 80vw;
       margin: 2rem auto;
     }
     
     .flex-wrapper {
      flex-direction: column;
    }
     .article {
      margin-top: -4rem;
    }
     
  }