*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.topnav {
    display:flex;
    position:sticky;
    flex-direction: row;
    flex: flex-end;
    background-color: #021D44;
    width: 100%;
    margin: 0;
    padding: 0;
     
  }
  


  .topnav .navli  {
   position: relative;
	 display: inline-block;
   margin: 1rem 1.5rem;
   padding: 0 1rem;
	 outline: none;
	 color: #F9FAFA;
	 text-decoration: none;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 font-weight: 400;
	 text-shadow: 0 0 1px rgba(255,255,255,0.3);
	 font-size: 1.35em;
}
     
  
  .topnav .navli:hover,
  .topnav .navli:focus {
   outline: none;
   cursor: pointer;
  }

  
  .topnav .navli::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:#ff3e55;
    content: '';
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
  }
  
  .topnav .navli::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: #ff3e55;
    content: '';
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  
  .topnav .navli:hover::before {
    top: 100%;
    opacity: 1;
  }
  
  .topnav .navli:hover::after {
    height: 100%;
  } 

  .topnav .active {
    color:#ff3e55;
    transition: #ff3e55 15s;
    -webkit-transition: #ff3e55 15s;
    -moz-transition: #ff3e55 15s;
  }
  .topnav .active::before {
    top: 100%;
    opacity: 1;
  }
  
  .topnav .active::after{
    height: 100%;

  }
  