*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.navbar {
  background: #021D44;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}


  .nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    align-items: flex-end;
  }
  
  .navbar-icon {
    margin-right: 0.5rem;
  }

  .menu-icon {
    display: none;
  }

  .navbar .navli  {
   position: relative;
	 display: inline-block;
   margin: 1rem 1.5rem;
   padding: 0 1rem;
	 outline: none;
	 color: #F9FAFA;
	 text-decoration: none;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 font-weight: 400;
	 text-shadow: 0 0 1px rgba(255,255,255,0.3);
	 font-size: 1.35em;
}
     
  
  .navbar .navli:hover,
  .navbar .navli:focus {
   outline: none;
   cursor: pointer;
  }

  
  .navbar .navli::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:#ff3e55;
    content: '';
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
  }
  
  .navbar .navli::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: #ff3e55;
    content: '';
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  
  .navbar .navli:hover::before {
    top: 100%;
    opacity: 1;
  }
  
  .navbar .navli:hover::after {
    height: 100%;
  } 

  .navbar .active {
    color:#ff3e55;
    transition: #ff3e55 15s;
    -webkit-transition: #ff3e55 15s;
    -moz-transition: #ff3e55 15s;
  }
  .navbar .active::before {
    top: 100%;
    opacity: 1;
  }
  
  .navbar .active::after{
    height: 100%;

  }

  @media screen and (max-width: 960px) {

  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -120%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background:#021D44;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 100;
    }
  
    .navli .logo  {
      text-align: center;
      margin-right:2rem;
      width: 100%;
      display: table;
    }
  
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item  {
      width: 100%;
    }
  
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
     .navbar .navli::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 2px;
      background:#ff3e55;
      content: '';
      -webkit-transition: top 0.3s;
      -moz-transition: top 0.3s;
      transition: top 0.3s;
     }

     .icon {
      bottom: 0;
      right: 1rem;
      font-size: 1.8rem;
      cursor: pointer;
    }
   
}  
  