
/* PROJECTS CSS */ 
.page {
display: flex;
align-items: stretch;
justify-content: space-between;
flex-grow: 1;
padding: 60px;
text-align: center;
background: #021D44;
color: white;
font-size: 1.8vw;
margin: 0 auto;
animation: show 500ms ease-out forwards;
animation-delay: 240ms;
opacity: 0;
}

@-webkit-keyframes show {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes show {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@-o-keyframes show {
0%   { opacity: 0; }
100% { opacity: 1; }
}
@keyframes show {
0%   { opacity: 0; }
100% { opacity: 1; }
}


.toggle-btn {
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
font-weight:300;
color:#ff3e55;
text-align:center;
text-decoration: none;
font-size: 0.9vw;
transition: all 0.2s;
width: 9vw;
height: 9vw;
cursor:pointer;
background-color:#021D44;
}

.toggle-btn-active {
display:inline-block;
padding:0.35em 1.2em;
border:none;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
text-decoration:none;
font-weight:500;
color:#ff3e55;
text-align:center;
text-decoration: none;
font-size: 1vw;
transition: all 0.2s;
width: 9vw;
height: 9vw;
cursor:pointer;
background-color:#FFFFFF;
}
.toggle-btn:hover {
color:#021D44;
background-color:#FFFFFF;
border:0.1em solid #FFFFFF;
}
@media all and (max-width: 800px){
.toggle-btn {
 display:inline-block;
 margin:0;
 width: 16vw;
 height: 16vw;
 font-size: 2vw;
 }
 .toggle-btn-active {
 display:inline-block;
 padding:0.35em 1.2em;
 border:none;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 text-decoration:none;
 font-weight:500;
 color:#ff3e55;
 text-align:center;
 text-decoration: none;
 font-size: 2vw;
 transition: all 0.2s;
 width: 16vw;
 height: 16vw;
 cursor:pointer;
 background-color:#FFFFFF;
 }
}
.thumb-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-button-container {
  display: flex;
  flex-direction: wrap;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #021D44;
  height: 10rem;
}


    