*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.thumbButton {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-decoration:none;
    font-weight:300;
    color:#ff3e55;
    text-align:center;
    transition: all 0.2s;
    width: 9vw;
    height: 9vw;
    cursor:pointer;
    background-color: #021D44;
    }
.thumbButton:hover {
    color:#021D44;
    background-color:#FFFFFF;
    border:0.1em solid #FFFFFF;
    }
    
    
@media all and (max-width:30em){
.thumbButton {
 display:block;
 margin:0.4em auto;
}
 }

.thumbButtonContainer {
 display: flex;
 flex-direction: wrap;
 margin: 0 auto;
 align-items: center;
 justify-content: center;
}

@-webkit-keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  .thumbContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }