.round {
 border-radius: 50%;
 outline: none;
 width: 3rem;
 height: 3rem;
 background-color: #ff3e55;
 cursor: pointer;
 transition: 0.5s;
}

.round .active {
 background-color:#3e8e41;
}

.round:hover,
  .round:focus {
   outline: none;
   cursor: pointer;
   background-color: #3e8e41;
  }